h1 {
  color: #333;
}

.filter-container {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

p {
  color: #666;
}
/* product-list.component.css */

/* Style the product list container */
ul.product-list {
  list-style: none;
  padding: 0;
}

/* Style each product item in the list */
.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

/* Product name style */
.product-name {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Product description style */
.product-description {
  margin-top: 5px;
  color: #555;
}

/* Product price style */
.product-price {
  margin-top: 5px;
  color: #007bff; /* You can use any desired color here */
}
